<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            Stwórz nowy system
        </div>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label for="Name">Nazwa:</label>
                <span class="validationElement alert-danger" data-bind="validationMessage: Name"></span>
                <input type="text" data-bind="textInput: Name" id="Name" class="form-control" placeholder="Podaj nazwę.." />
            </div>
            <div class="form-group">
                <label for="Description">Opis:</label>
                <span class="validationElement alert-danger" data-bind="validationMessage: Description"></span>
                <textarea data-bind="textInput: Description" rows="4" id="Description" class="form-control" placeholder="Podaj opis.."></textarea>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary" data-bind="click: Save">
                    <span class="glyphicon glyphicon-floppy-saved"></span>
                    Zapisz dane
                </button>
                <button type="button" class="btn btn-default" data-bind="click: Clear">
                    <span class="glyphicon glyphicon-remove"></span>
                    Wyczyść formularz
                </button>
            </div>
        </form>
    </div>
</div>
    
@section scripts {
    <script src="~/js/ViewModels/CreateSystemFormViewModel.js"></script>
    <script>
        ko.validation.init({
            insertMessages: false
        });
        ko.validation.locale("pl-PL");
        
        var viewModel = new CreateSystemFormViewModel();
        ko.applyBindings(viewModel);
    </script>
}