<ul>
    <li><a asp-controller="License" asp-action="Clients">Lista klientów</a></li>
    <li><a asp-controller="License" asp-action="CreateClient">Stwórz nowego klienta</a></li>
    <li><a asp-controller="License" asp-action="Systems">Lista systemów</a></li>
    <li><a asp-controller="License" asp-action="CreateSystem">Stwórz nowy system</a></li>
    <li><a asp-controller="License" asp-action="SystemVersions">Lista wersji systemów</a></li>
    <li><a asp-controller="License" asp-action="CreateSystemVersion">Stwórz nową wersję systemu</a></li>
</ul>