<ul>
    <li><a asp-controller="License" asp-action="CreateClient">Stwórz nowego klienta</a></li>
    <li><a asp-controller="License" asp-action="CreateSystem">Stwórz nowy system</a></li>
    <li><a asp-controller="License" asp-action="CreateSystemVersion">Stwórz nową wersję systemu</a></li>
</ul>