@model ClientsViewModel

<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>LP.</th>
            <th>Nazwa</th>
            <th>Opis</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: Table.Rows">
        <tr>
            <td class="col-xs-1" data-bind="text: ($index() + 1)"></td>
            <td class="col-xs-3" data-bind="text: Name"></td>
            <td class="col-xs-5" data-bind="text: Description"></td>
            <td class="col-xs-3"></td>
        </tr>
    </tbody>
</table>

<a asp-controller="Configuration" asp-action="Index">Powrót do strony głównej</a>

@section scripts {
    <script src="~/js/ViewModels/ClientsVM.js"></script>
    <script>
        var viewModel = new ClientsVM();
        viewModel.Table.Rows(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Table.Rows)));
        ko.applyBindings(viewModel);
    </script>
}