@model ClientsViewModel

<table class="table table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>Nazwa</th>
            <th>Opis</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: Table.Rows">
        <tr data-bind="css: Deleted ? 'text-muted' : ''">
            <td class="col-xs-1 text-center" data-bind="text: ($index() + 1) + '.'"></td>
            <td class="col-xs-3" data-bind="text: Name"></td>
            <td class="col-xs-5" data-bind="text: Description"></td>
            <td class="col-xs-3 text-center">
                <a asp-controller="Configuration" asp-action="EditClient" data-bind="css: Deleted ? 'btn btn-default disabled' : 'btn btn-default'">
                    <span class="glyphicon glyphicon-edit"></span>
                    Edytuj
                </a>
                <a asp-controller="Configuration" asp-action="DeleteClient" data-bind="css: Deleted ? 'btn btn-danger disabled' : 'btn btn-danger'">
                    <span class="glyphicon glyphicon-remove"></span>
                    Usuń
                </a>
            </td>
        </tr>
    </tbody>
</table>

<a asp-controller="Configuration" asp-action="Index" class="btn btn-default">Powrót do strony głównej</a>

@section scripts {
    <script src="~/js/ViewModels/ClientsVM.js"></script>
    <script>
        var viewModel = new ClientsVM();
        viewModel.Table.Rows(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Table.Rows)));
        ko.applyBindings(viewModel);
    </script>
}