@model ModifySystemVersionViewModel

<div class="col-xs-3 list-group">                    
    <a asp-controller="Configuration" asp-action="Clients" class="list-group-item">
        <span class="fa fa-users"></span>
        Klienci
    </a>
    <a asp-controller="Configuration" asp-action="Systems" class="list-group-item">
        <span class="fa fa-laptop"></span>
        Systemy
    </a>
    <a asp-controller="Configuration" asp-action="SystemVersions" class="list-group-item active">
        <span class="fa fa-server"></span>
        Wersje systemów
    </a>
</div>
<div class="col-xs-9">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                Zmodyfikuj istniejącą wersję systemu
            </div>
        </div>
        <div class="panel-body">
            <form id="Form" asp-action="ModifySystemVersion" asp-controller="Configuration" asp-anti-forgery="true" method="POST">
                <div class="form-group">
                    <label asp-for="Major"></label>:
                    <span asp-validation-for="Major" class="text-danger"></span>
                    <input type="text" asp-for="Major" class="form-control" placeholder="Podaj numer główny.." />
                </div>
                <div class="form-group">
                    <label asp-for="Minor"></label>:
                    <span asp-validation-for="Minor" class="text-danger"></span>
                    <input type="text" asp-for="Minor" class="form-control" placeholder="Podaj numer dodatkowy.." />
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>:
                    <span asp-validation-for="Description" class="text-danger"></span>
                    <textarea asp-for="Description" class="form-control" placeholder="Podaj opis.." rows="4"></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="SystemId"></label>:
                    <span asp-validation-for="SystemId" class="text-danger"></span>
                    <select asp-for="SystemId" asp-items="@ViewBag.SystemSelectListItems" class="form-control"></select>
                </div>
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary">
                        <span class="fa fa-save"></span>
                        Zapisz dane
                    </button>
                    <button id="Reset" type="button" class="btn btn-default">
                        <span class="fa fa-refresh"></span>
                        Wycofaj zmiany
                    </button>
                </div>
            </form>
        </div>
    </div>
    <a asp-controller="Configuration" asp-action="SystemVersions" class="btn btn-default">
        <span class="fa fa-undo"></span>
        Powrót do listy wersji systemów
    </a>
</div>

@section scripts {
    <script>
        $('#Reset').click(function() {
            $('#Form').trigger('reset.unobtrusiveValidation');
            $('#Form').validate().resetForm();
        });
    </script>
}