body {
  margin: 15px;
}
table.table > thead > tr > th {
  text-align: center;
}
table.table > thead > tr > th,
table.table > tbody > tr > td {
  vertical-align: middle;
}
textarea {
  resize: none;
}
input[type="checkbox"] {
  vertical-align: -2px;
}
a.list-group-item span.fa {
  padding: 0 5px 0 0;
}
div.table-filters {
  padding: 0 0 5px 0;
}
